<div class="row mb-1 mr-0 custom-border">

  <!-- Detail article -->
  <div class="col-md-3 custumer-border-right mt-1">
      <div class="row text-center">
        <div class="col-md-11">Code Article</div>
      </div>
  </div>

  <div class="col-md-3 custumer-border-right mt-1">
    <div class="row">
        <div class="col-md-12 text-center">
          Designation article
        </div>
    </div>
  </div>
  <!-- Quantité commandée -->
  <div class="col-md-2 custumer-border-right mt-1">
    <div class="row">
        <div class="col-md-12 text-center">
          6
        </div>
    </div>
  </div>
  <!-- prix unitaire -->
  <div class="col-md-2 custumer-border-right mt-1">
    <div class="row">
        <div class="col-md-12 text-center">
          12.3
        </div>
    </div>
  </div>

<!-- prix total -->
  <div class="col-md-2 mt-1 ">
    <div class="row">
      <div class="col-md-12 text-center">
        78.99
      </div>
    </div>
  </div>
</div>



