<div class="row mb-1 mr-0 custom-border">
  <div class="col-md- p-1 text-center custumer-border-right">
    <img src="assets/product.png" width="100px" height="100px">
  </div>

  <!-- Détail Article -->
  <div class="col-md-5 custumer-border-right mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Code article</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-book-reader blue-color"></i></div>
        <div class="col-md-11">Designation</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-money-bill-wave blue-color"></i></div>
        <div class="col-md-11">Prix HT</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>
        <div class="col-md-11">Prix TTC</div>
      </div>
    </div>
  </div>

  <!-- Détail catégorie -->
  <div class="col-md-3 custumer-border-right mt-1">
    <div class="row">
      <div class="col-md-2">
        <i class="fas fa-flag-checkered blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12"> Code categorie</div>
          <div class="col-md-12">Description categorie</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Boutons d'action -->
  <div class="col-md-3 mt-1s">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-eye"></i>  &nbsp; Details
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-pencil-alt"></i> &nbsp; modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-trash"></i>  &nbsp; Supprimer

        </button>
      </div>
    </div>
  </div>
</div>
