<div class="row mb-1 mr-0 custom-border">

  <!-- Date -->
  <div class="col-md-3 custumer-border-right mt-1">
      <div class="row text-center">
        <div class="col-md-11">12.12.2021</div>
      </div>
  </div>

  <!-- Quantité -->
  <div class="col-md-3 custumer-border-right mt-1">
    <div class="row">
        <div class="col-md-12 text-center">
          <h5>160</h5>
        </div>
    </div>
  </div>

  <div class="col-md-3 custumer-border-right mt-1">
    <div class="row">
        <div class="col-md-12 text-center">
          <h5>Sortie</h5>
        </div>
    </div>
  </div>


  <!-- Boutons d'action -->
  <div class="col-md-3 mt-1 ">
    <div class="row text-center">
      <h5> COMMANDE_CLIENT</h5>
    </div>
  </div>
</div>



