<div class="row mb-1 mr-0 custom-border">
  <div class="col-md- p-1 text-center custumer-border-right">
    <img src="assets/product.png" width="100px" height="100px">
  </div>

  <!-- Détail Client -->
  <div class="col-md-5 custumer-border-right mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10">Prenom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-10">006 666 966 666</div>
      </div>
    </div>
  </div>

  <!-- Détail commande -->
  <div class="col-md-3 custumer-border-right mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-qrcode blue-color"></i></div>
        <div class="col-md-10">CMD-12670329</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-calendar-check blue-color"></i></div>
        <div class="col-md-10">12-03-2015</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-cart-arrow-down blue-color"></i></div>
        <div class="col-md-10">LIVREE</div>
      </div>
    </div>
  </div>

  <!-- Boutons d'action -->
  <div class="col-md-3 mt-1s">
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-link">
          <i class="fas fa-pencil-alt"></i> &nbsp; modifier
        </button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-link">
          <i class="fas fa-trash"></i>  &nbsp; Supprimer

        </button>
      </div>
    </div>
  </div>
</div>


